{{ $user := .Get "user" }}
{{ $url := printf "https://boardgamegeek.com/geekcollection.php?action=exportcsv&subtype=boardgame&username=%s&all=1&exporttype=csv" $user }}
{{ $boardGameGeekData := getCSV "," $url }}
{{ i18n "tableGeneratedFrom" }} <a href="https://boardgamegeek.com/collection/user/{{ $user }}">{{ i18n "boardGameGeekCollection" }}</a>
<table>
<thead>
<tr>
    <td>{{ i18n "name" }}</td>
    <td>{{ i18n "geekRating" }}</td>
    <td>{{ i18n "weightComplexity" }}</td>
    <td>{{ i18n "numberOfPlayers" }}</td>
    <td>{{ i18n "playingTime" }}</td>
</tr>
</thead>
{{ range $i, $row := $boardGameGeekData }}
    {{ if ne $i 0 }}
    {{ $localName := index $row 0 }}
    {{ $gameId := index $row 1 }}
    {{ $geekRating := printf "%.2f" (float (index $row 20)) }}
    {{ $weight := printf "%.2f" (float (index $row 22)) }}
    {{ $englishName := index $row 26 }}
    {{ $minPlayers := index $row 27 }}
    {{ $maxPlayers := index $row 28 }}
    {{ $playingTime := index $row 29 }}
    <tr>
        <td>
            <a href="https://boardgamegeek.com/boardgame/{{ $gameId }}">
                {{ $localName }}
                {{ if ne $localName $englishName }}
                    ({{ $englishName }})
                {{ end }}
            </a>
        </td>
        <td>
            {{ if ne $geekRating "0.00" }}
                {{ $geekRating }}
            {{ end }}
        </td>
        <td>
            {{ if ne $weight "0.00" }}
                {{ $weight }}
            {{ end }}
        </td>
        <td>{{ $minPlayers }}-{{ $maxPlayers }}</td>
        <td>{{ $playingTime }} min</td>
    </tr>
    {{ end }}
{{ end }}
</table>