{{ $user := .Get "user" }}
{{ $url := printf "" $user }}
{{ $boardGameGeekData := getCSV "," "boardgamegeek.csv" }}
{{ i18n "tableGeneratedFrom" }} <a href="https://boardgamegeek.com/collection/user/{{ $user }}">{{ i18n "boardGameGeekCollection" }}</a>
<table>
<thead>
<tr>
    <td>{{ i18n "name" }}</td>
    <td>{{ i18n "geekRating" }}</td>
    <td>{{ i18n "weightComplexity" }}</td>
    <td>{{ i18n "numberOfPlayers" }}</td>
    <td>{{ i18n "playingTime" }}</td>
    <td>{{ i18n "comment" }}</td>
</tr>
<tr id="filterRow" style="visibility: collapse;">
    <td><input type="text" id="nameFilter"/></td>
    <td><input type="number" id="ratingFilter" style="width: 80px;"/></td>
    <td><input type="number" id="weightFilter" style="width: 80px;"/></td>
    <td><input type="number" id="playersFilter" style="width: 80px;"/></td>
    <td><input type="number" id="timeFilter" style="width: 80px;"/></td>
    <td><input type="text" id="commentFilter" style="width: 80px;"/></td>
</tr>
</thead>
{{ range $i, $row := $boardGameGeekData }}
    {{ $previouslyOwned := index $row 10 }}
    {{ $wishlist := index $row 12 }}
    {{ if and (ne $i 0) (ne $previouslyOwned "1") (ne $wishlist "1") }}
    {{ $localName := index $row 0 }}
    {{ $gameId := index $row 1 }}
    {{ $comment:= index $row 15 }}
    {{ $geekRating := printf "%.2f" (float (index $row 20)) }}
    {{ $weight := printf "%.2f" (float (index $row 22)) }}
    {{ $englishName := index $row 26 }}
    {{ $minPlayers := index $row 27 }}
    {{ $maxPlayers := index $row 28 }}
    {{ $playingTime := index $row 29 }}
    <tr class="boardGameRow">
        <td>
            <a href="https://boardgamegeek.com/boardgame/{{ $gameId }}">
                {{ $localName }}
                {{ if ne $localName $englishName }}
                    ({{ $englishName }})
                {{ end }}
            </a>
        </td>
        <td>
            {{ if ne $geekRating "0.00" }}
                {{ $geekRating }}
            {{ end }}
        </td>
        <td>
            {{ if ne $weight "0.00" }}
                {{ $weight }}
            {{ end }}
        </td>
        <td>{{ $minPlayers }}-{{ $maxPlayers }}</td>
        <td>{{ $playingTime }} min</td>
        <td>{{ $comment }}</td>
    </tr>
    {{ end }}
{{ end }}
</table>

<script>
    const filterRow = document.getElementById("filterRow");
    const nameFilter = document.getElementById("nameFilter");
    const ratingFilter = document.getElementById("ratingFilter");
    const weightFilter = document.getElementById("weightFilter");
    const playersFilter = document.getElementById("playersFilter");
    const timeFilter = document.getElementById("timeFilter");
    const commentFilter = document.getElementById("commentFilter");
    const boardGameRows = Array.from(document.getElementsByClassName("boardGameRow"));

    function updateFilters() {
        boardGameRows.forEach(row => row.style.visibility = "collapse");
        boardGameRows.forEach(row => {
            const name = row.children[0].textContent;
            const textNormalize = (text) => text.trim().toLowerCase();
            const nameOk = textNormalize(name).includes(textNormalize(nameFilter.value));

            const rating = Number(row.children[1].textContent);
            const ratingOk = rating >= Number(ratingFilter.value);

            const weight = Number(row.children[2].textContent);
            const weightOk = Number(weightFilter.value) <= weight;

            const players = row.children[3].textContent.split("-");
            const playersMin = players[0];
            const playersMax = players[1];
            const expectedPlayers = Number(playersFilter.value);
            const playersOk = expectedPlayers === 0 || (playersMin <= expectedPlayers && expectedPlayers <= playersMax);

            const time = Number(row.children[4].textContent.split(" min")[0]);
            const expectedTime = Number(timeFilter.value);
            const timeOk = expectedTime === 0 || time <= Number(timeFilter.value);

            const comment = row.children[5].textContent;
            const commentOk = textNormalize(comment).includes(textNormalize(commentFilter.value));

            if (nameOk && ratingOk && weightOk && playersOk && timeOk && commentOk) {
                row.style.visibility = "visible";
            }
        });
    }
    updateFilters();
    const filters = [nameFilter, ratingFilter, weightFilter, playersFilter, timeFilter, commentFilter];
    for (const filter of filters) filter.oninput = updateFilters;
    filterRow.style.visibility = "visible";
</script>